@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* max-width: 1300px; */
  display: flex;
  flex-wrap: wrap;
  margin: 4% 5%;
}

.cardContainer {
  border: 2px solid #ccc;
  min-width: 250px;
  padding: 10px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  padding: "10px 20px";
  background-color: #ff8686;
  color: "white";
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.addButton {
  padding: "20px 60px";
  background-color: #0aba1b;
  color: "white";
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 10px;
}

.border {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  /* width: 500px; */
}

#searchInput {
  width: 300px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

#totalPagesCount {
  font-weight: 600;
  margin-right: 10px;
}

.pageButton {
  margin-right: 10px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #ccc;
  font-weight: 700;
  color: #0d6efd;
}

#addFriendBtn {
  color: white;
  padding: 5px 30px;
}

#friendListContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.contentContainer {
  min-height: 100vh;
  position: relative;
}

.activePage {
  margin-right: 10px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: #0d6efd;
  border: 0;
  font-weight: 700;
  /* color: #0d6efd; */
  color: white;
  border-radius: 2px;
}

#addToFavouriteButton {
  background-color: rgb(173 173 27);
  border: none;
  cursor: pointer;
  color: white;
}

.name {
  color: #8a94a0;
}
